<app-tarjeta width="w-11/12 md:w-1/2 xl:w-1/4">
    <div class="flex items-center bg-gray-100 text-gray-600 font-hairline p-3 text-xl">
        <app-boton-volver ruta="/dashboard/tipos"></app-boton-volver>
        <div>
            <h1 class="ml-1"> {{ tipo ? tipo.descripcion : null }} </h1>
            <app-pastilla
                texto="Agregando subtipo"
                icono="fas fa-list-alt">
            </app-pastilla>
        </div>
    </div>
    <div class="p-5">
        <h1 class="text-gray-600 font-semibold"> Nuevo subtipo </h1>
        <input class="w-full rounded shadow border p-1 mt-2" 
               #txtSubtipo
               placeholder="Descripción" 
               type="text">
        <button class="mt-3 border shadow rounded bg-blue-500 text-white w-full p-1"
                (click)="nuevoSubtipo(txtSubtipo)"> Crear </button>
    </div>
</app-tarjeta>

<app-tarjeta>
    <div class="flex items-center justify-between md:ml-4 rounded-top text-gray-600 px-3 mt-2 text-2xl font-hairline">
        <div class="flex items-center">
            <span class="ml-1"> Listado de subtipos</span>
        </div>
    </div>
    <div class="antialiased font-sans bg-gray-100 shadow">
        <div class="container mx-auto px-4 sm:px-8">
            <div class="py-2">
                <div>
                    <h2 class="text-2xl text-gray-700 font-semibold leading-tight"> Subtipos ({{ total }}) </h2>
                </div> <div class="my-2 flex sm:flex-row flex-col">
                    <div class="flex flex-row mb-1 sm:mb-0">
                        <div class="relative">
                            <select
                                #txtActivo
                                (change)="filtroActivo(txtActivo.value)"
                                class="appearance-none h-full rounded-r border-t sm:rounded-r-none border-l sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500"
                            >
                                <option value=true > Activos </option>
                                <option value=false > Inactivos </option>
                                <option value=""> Todos </option>
                            </select>
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="flex">
                        <div class="block relative">
                            <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                                <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                                    <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                                    </path>
                                </svg>
                            </span>
                            <input
                                #txtDescripcion
                                placeholder="Descripción" 
                                (keyup)="filtroDescripcion(txtDescripcion.value)"
                                class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none">
                        </div>
                        <div *ngIf="loading">
                            <i class="fas fa-spinner animate-spin text-2xl text-gray-700 ml-2"></i>
                        </div>
                    </div>
                </div>
                <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
                    <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                        <table class="min-w-full leading-normal">
                            <thead>
                                <tr>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 text-left bg-gray-100 text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Descripcion
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        ¿Activo?
                                    </th>
                                    <th
                                        class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-center text-xs font-semibold text-gray-600 uppercase tracking-wider">
                                        Acciones
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="animate__animated animate__fadeIn" *ngFor="let subtipo of subtipos">
                                    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                                        <p class="text-gray-900 whitespace-no-wrap">
                                            {{ subtipo.descripcion }}
                                        </p>
                                    </td>
                                    <td class="px-5 py-5 text-center border-b border-gray-200 bg-white text-sm">
                                        <app-boton-estado (click)="actualizarEstado(subtipo)" [activo]="subtipo.activo"></app-boton-estado>
                                    </td>
                                    <td class="px-5 text-center py-5 border-b border-gray-200 bg-white text-sm">
                                        <div class="text-center">
                                            <div class="flex items-center justify-center">  
                                                <app-boton-tabla 
                                                    ruta='/dashboard/tipos/editar-subtipos'
                                                    titulo="Editar tipo"
                                                    icono="fas fa-pencil-alt"
                                                    [id]="subtipo._id" 
                                                    >
                                                </app-boton-tabla>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="px-5 py-5 bg-white border-t flex flex-col xs:flex-row items-center xs:justify-between          ">
                            <span class="text-xs xs:text-sm text-gray-900">
                                Mostrando {{total > 0 ? paginacion.desde + 1 : 0}} - {{ paginacion.hasta < total ? paginacion.hasta : total}} de {{ total }} eventos
                            </span>
                            <div class="inline-flex mt-2 xs:mt-0">
                                <button 
                                    (click)="actualizarDesdeHasta('anterior')"
                                    [disabled]="loading"
                                    [ngClass]="{'text-gray-400': loading, 'text-gray-800': !loading}"
                                    class="text-sm bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-l focus:outline-none">
                                    Anterior
                                </button>
                                <button 
                                    (click)="actualizarDesdeHasta('siguiente')"
                                    [disabled]="loading"
                                    [ngClass]="{'text-gray-400': loading, 'text-gray-800': !loading}"
                                    class="text-sm bg-gray-300 text-gray-800 font-semibold py-2 px-4 rounded-r focus:outline-none">
                                    Siguiente
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</app-tarjeta>