<nav class="flex nav-delante animate__animated animate__fadeIn bg-white items-center justify-between border-l-8 border-blue-500 flex-wrap p-5 shadow">
    <div class="flex items-center lg:flex-shrink-0 w-full lg:w-auto justify-between">
      <div>
        <a routerLink="/dashboard/home" class="ml-0 outline-none lg:ml-2 text-xl text-gray-800 cursor-pointer"> <span class="text-blue-500">Geo</span>Tasks - Eventos <i class="fas fa-tools text-blue-500"></i> </a>
      </div>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="lg:block lg:flex-grow ml-0 lg:ml-7 text-gray-800">
        <a routerLinkActive="text-blue-500" routerLink="/dashboard/home" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer md:mr-4 hover:text-blue-500"> 
          <i class="fas fa-home mr-1"></i>
          Home
        </a>
        <a routerLinkActive="text-blue-500" routerLink="/dashboard/geolocalizar" class="block outline-none lg:inline-block mt-4 lg:mt-0 mr-4 cursor-pointer hover:text-blue-500"> 
          <i class="fas fa-globe-americas mr-1"></i>
          Geolocalizar eventos
        </a>
        <a routerLinkActive="text-blue-500" routerLink="/dashboard/eventos" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer mr-4 hover:text-blue-500"> 
          <i class="fas fa-tools mr-1"></i>
          Tus eventos
        </a>
        <a *ngIf="usuarioLogin.role == 'ADMIN_ROLE'" routerLinkActive="text-blue-500" routerLink="/dashboard/usuarios" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer mr-4 hover:text-blue-500"> 
          <i class="fas fa-user mr-1"></i>
          Usuarios
        </a>
        <a *ngIf="usuarioLogin.role == 'ADMIN_ROLE'" routerLinkActive="text-blue-500" routerLink="/dashboard/tipos" class="block outline-none lg:inline-block mt-4 lg:mt-0 cursor-pointer mr-4 hover:text-blue-500"> 
          <i class="fas fa-list-alt mr-1"></i>
          Tipos
        </a>
      </div>
  
    <div class="md:flex md:items-center md:justify-between">
        <button (click)="logout()" class="mt-5 outline-none lg:mt-0 lg:mt-0 inline-block px-0 py-2 leading-none text-gray-700 font-semibold focus:outline-none hover:text-red-500"> 
          <i class="fas fa-sign-out-alt mr-1"></i>
          Cerrar Sesión 
        </button>
      </div>
    </div>
</nav>


<!-- <div class="flex bg-white flex-col max-w-screen-xl px-4 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8">
  <div class="p-4 flex flex-row items-center justify-between">
    <a href="#" class="text-lg font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark-mode:text-white focus:outline-none focus:shadow-outline">Flowtrail UI</a>
    <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" (click)="open = !open">
      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
        <path (click)="showMenu = !showMenu" *ngIf="showMenu" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
        <path (click)="showMenu = !showMenu" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" style="display: none;"></path>
      </svg>
    </button>
  </div>
  <nav class="flex-col block flex-grow pb-4 md:pb-0 md:flex md:justify-end md:flex-row">
    <a class="px-4 py-2 mt-2 text-sm font-semibold text-gray-900 bg-gray-200 rounded-lg dark-mode:bg-gray-700 dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Blog</a>
    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Portfolio</a>
    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">About</a>
    <a class="px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Contact</a>
    <div  class="relative">
      <button (click)="open = !open" class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:focus:bg-gray-600 dark-mode:hover:bg-gray-600 md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">
        <span>Dropdown</span>
        <svg fill="currentColor" viewBox="0 0 20 20" :class="{'rotate-180': open, 'rotate-0': !open}" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1 rotate-0"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
      </button>
      <div *ngIf="open" class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48">
        <div class="px-2 py-2 bg-white rounded-md shadow dark-mode:bg-gray-800">
          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #1</a>
          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #2</a>
          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg dark-mode:bg-transparent dark-mode:hover:bg-gray-600 dark-mode:focus:bg-gray-600 dark-mode:focus:text-white dark-mode:hover:text-white dark-mode:text-gray-200 md:mt-0 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline" href="#">Link #3</a>
        </div>
      </div>
    </div>    
  </nav>
</div> -->
