<div class="pb-4 animate__animated animate__zoomIn">

    <app-boton-home 
        icono="fas fa-globe-americas"
        titulo="Geolocalización"
        ruta="dashboard/geolocalizar"
    ></app-boton-home>
    
    <app-boton-home 
        icono="fas fa-tools"
        titulo="Eventos"
        ruta="dashboard/eventos"
    ></app-boton-home>
    
    <app-boton-home
        *ngIf="usuario.role === 'ADMIN_ROLE'"
        icono="fas fa-user"
        titulo="Usuarios"
        ruta="dashboard/usuarios"
    ></app-boton-home>

    <app-boton-home
        *ngIf="usuario.role === 'ADMIN_ROLE'"
        icono="fas fa-list-alt"
        titulo="Tipos"
        ruta="dashboard/tipos"
    ></app-boton-home>
</div>